@dark: black;
@ligth: white;
.dack {
  color: @ligth;
  background-color: @dark;
}
body {
  transition: 0.25s ease all;
}
.change-theme-wrapper {
  width: 50px;
  height: 25px;

  position: relative;

  padding: 1px;

  background-color: @dark;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  div {
    width: 23px;
    height: 23px;
    background-color: @ligth;
    border-radius: 100%;
    position: absolute;
    left: 2px;
    transform: translate(1%, 1px);
  }
  .move_left {
    background-color: @dark;
    -webkit-animation: 1s linear move_left;
    animation: 0.25s linear move_left;
    animation-fill-mode: both;
  }
  .move_right {
    background-color: @ligth;
    -webkit-animation: 1s linear move_right;
    animation: 0.25s linear move_right;
    animation-fill-mode: both;
  }
  @-webkit-keyframes move_left {
    from {
      left: 2px;
    }
    to {
      left: 25px;
    }
  }
  @keyframes move_left {
    from {
      left: 2px;
    }
    to {
      left: 25px;
    }
  }
  @-webkit-keyframes move_right {
    from {
      left: 25px;
    }
    to {
      left: 2px;
    }
  }
  @keyframes move_right {
    from {
      left: 25px;
    }
    to {
      left: 2px;
    }
  }
}
